In [1]:
from PopularityContest.Model.best_model import *
from PopularityContest.Model.feature1 import *
from PopularityContest.Model.feature2 import *
from PopularityContest.Model.feature3 import *
from PopularityContest.Model.split import *
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("~/Documents/GitHub/Computing-Final/PopularityContest/Load/songfeatures.csv").select_dtypes("number")
data.head(5)

,Unnamed: 0,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,Top50
0,0,0.887,0.234,9,-14.520,1,0.1780,0.11100,0.670000,0.1300,0.197,140.020,196800,4,1
1,1,0.751,0.761,11,-4.113,0,0.1500,0.25100,0.000238,0.0991,0.553,92.032,151325,4,1
2,2,0.835,0.679,7,-5.329,0,0.0364,0.58300,0.000002,0.2180,0.850,124.980,162638,4,1
3,3,0.901,0.589,1,-6.713,0,0.2890,0.00302,0.000237,0.0992,0.399,98.002,196600,4,1
4,4,0.621,0.782,2,-5.548,1,0.0440,0.01250,0.033000,0.2300,0.550,128.033,198938,4,1

In [5]:
data = feature1(data)
data.head(5)

,Unnamed: 0,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,Top50,happy
0,0,0.887,0.234,9,-14.520,1,0.1780,0.11100,0.670000,0.1300,0.197,140.020,196800,4,1,0
1,1,0.751,0.761,11,-4.113,0,0.1500,0.25100,0.000238,0.0991,0.553,92.032,151325,4,1,1
2,2,0.835,0.679,7,-5.329,0,0.0364,0.58300,0.000002,0.2180,0.850,124.980,162638,4,1,1
3,3,0.901,0.589,1,-6.713,0,0.2890,0.00302,0.000237,0.0992,0.399,98.002,196600,4,1,0
4,4,0.621,0.782,2,-5.548,1,0.0440,0.01250,0.033000,0.2300,0.550,128.033,198938,4,1,1

In [7]:
data = genre(data)
data.head(5)

,Unnamed: 0,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,Top50,happy,HipHop,Reggaeton,Pop,House/Electro/Techno
0,0,0.887,0.234,9,-14.520,1,0.1780,0.11100,0.670000,0.1300,0.197,140.020,196800,4,1,0,0,0,0,1
1,1,0.751,0.761,11,-4.113,0,0.1500,0.25100,0.000238,0.0991,0.553,92.032,151325,4,1,1,1,1,0,0
2,2,0.835,0.679,7,-5.329,0,0.0364,0.58300,0.000002,0.2180,0.850,124.980,162638,4,1,1,0,0,1,1
3,3,0.901,0.589,1,-6.713,0,0.2890,0.00302,0.000237,0.0992,0.399,98.002,196600,4,1,0,0,1,0,0
4,4,0.621,0.782,2,-5.548,1,0.0440,0.01250,0.033000,0.2300,0.550,128.033,198938,4,1,1,0,0,1,1

In [8]:
data = time(data, "seconds")
data.head(5)

,Unnamed: 0,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,Top50,happy,HipHop,Reggaeton,Pop,House/Electro/Techno,duration_s
0,0,0.887,0.234,9,-14.520,1,0.1780,0.11100,0.670000,0.1300,0.197,140.020,4,1,0,0,0,0,1,196.800
1,1,0.751,0.761,11,-4.113,0,0.1500,0.25100,0.000238,0.0991,0.553,92.032,4,1,1,1,1,0,0,151.325
2,2,0.835,0.679,7,-5.329,0,0.0364,0.58300,0.000002,0.2180,0.850,124.980,4,1,1,0,0,1,1,162.638
3,3,0.901,0.589,1,-6.713,0,0.2890,0.00302,0.000237,0.0992,0.399,98.002,4,1,0,0,1,0,0,196.600
4,4,0.621,0.782,2,-5.548,1,0.0440,0.01250,0.033000,0.2300,0.550,128.033,4,1,1,0,0,1,1,198.938

In [9]:
X_train, X_test, y_train, y_test = tt_split(data, "Top50")
X_test

NameError: name 'tt_split' is not defined