# READ DATA

In [1]:
import pandas as pd
import numpy as np

def load(data:str, sep:str):
    return pd.read_csv(data, sep=sep)

In [2]:
df = load("churn_data.csv", ";")
df

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.70,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.70,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.00,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.00,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.00,3,166.7,113,41.0,7.42,10.1
...,...,...,...,...,...,...,...,...,...,...,...
3328,0,192,1,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,0,68,1,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,0,28,1,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,0,184,0,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,0,74,1,1,3.70,0,234.4,113,100.0,13.30,13.7

# SPLIT FOR TARGET

In [3]:
import pandas as pd
import numpy as np

def split(target:str, data):
    y = data[target]
    X = data.drop(target, axis = 1)
    
    return y, X

In [5]:
y, X = split("Churn", df)
y

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: Churn, Length: 3333, dtype: int64

In [6]:
X

,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,128,1,1,2.70,1,265.1,110,89.0,9.87,10.0
1,107,1,1,3.70,1,161.6,123,82.0,9.78,13.7
2,137,1,0,0.00,0,243.4,114,52.0,6.06,12.2
3,84,0,0,0.00,2,299.4,71,57.0,3.10,6.6
4,75,0,0,0.00,3,166.7,113,41.0,7.42,10.1
...,...,...,...,...,...,...,...,...,...,...
3328,192,1,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,68,1,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,28,1,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,184,0,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,74,1,1,3.70,0,234.4,113,100.0,13.30,13.7

# TEST TRAIN SPLIT

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def tts(variables, binary):
    return train_test_split(variables, binary, test_size=0.33, random_state=1)

In [8]:
X_train, X_test, y_train, y_test = tts(X, y)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

      AccountWeeks  ContractRenewal  DataPlan  DataUsage  CustServCalls  \
2124            43                1         0       0.38              3
510            193                1         1       3.32              1
1009           155                1         0       0.00              3
1171            32                1         0       0.00              1
1993            86                1         0       0.35              0
...            ...              ...       ...        ...            ...
2763           116                1         1       2.21              3
905            161                1         0       0.16              4
1096            93                1         0       0.00              1
235            139                1         0       0.00              5
1061           132                1         1       2.78              1

      DayMins  DayCalls  MonthlyCharge  OverageFee  RoamMins
2124     27.0       117           22.8        8.05      10.7
510     124.0       102           72.2       10.15      12.3
1009    181.4       111           46.0        8.39      11.3
1171    157.9        88           43.0        9.04      12.8
1993    216.3        96           63.5       13.32       4.5
...       ...       ...            ...         ...       ...
2763    155.7       104           65.1        9.27       8.2
905     191.9       113           40.6        3.55      13.4
1096     98.4        78           38.0       12.48      14.2
235     134.4       106           41.0       10.57      10.2
1061    174.5       101           78.8       12.28      10.3

[2233 rows x 10 columns]
      AccountWeeks  ContractRenewal  DataPlan  DataUsage  CustServCalls  \
2360            68                1         0       0.00              2
600            102                1         0       0.00              2
1501            72                1         0       0.27              0
1114           108                1         1       2.94              1
517             52                1         0       0.35              2
...            ...              ...       ...        ...            ...
2337           139                1         0       0.00              4
257            114                1         0       0.29              1
1373           108                1         0       0.00              4
216             93                1         0       0.31              0
2591           122                1         0       0.00              1

      DayMins  DayCalls  MonthlyCharge  OverageFee  RoamMins
2360    222.1       107           55.0        9.97       9.4
600     102.6        89           39.0       12.30       9.1
1501    272.4        88           58.7        5.40      12.7
1114    165.1        85           80.4       13.35      10.9
517     214.7        68           53.5        7.93       9.4
...       ...       ...            ...         ...       ...
2337    181.6       119           60.0       16.79       8.3
257      84.7       118           38.9       12.50      14.5
1373    112.0       105           36.0        9.69       4.1
216     151.4        89           45.1        9.32      10.9
2591    231.2       141           63.0       13.39       8.8

[1100 rows x 10 columns]
2124    0
510     0
1009    0
1171    0
1993    0
       ..
2763    0
905     1
1096    0
235     1
1061    0
Name: Churn, Length: 2233, dtype: int64
2360    0
600     0
1501    0
1114    0
517     0
       ..
2337    0
257     0
1373    1
216     0
2591    1
Name: Churn, Length: 1100, dtype: int64

# RF MODEL

In [9]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

def tuning(X_train, y_train):
    
    parameters = {
    "criterion" : ['gini', 'entropy'],
    "max_depth" : [4, 5, 6, 7, 8, 9, 10, 11, 12],
    "max_features" : ['auto', 'log2', 'sqrt'],
    "min_samples_split" : [2, 4, 6, 8, 10]}

    random_estimator = RandomizedSearchCV(estimator = RandomForestClassifier(random_state=1),
                                          param_distributions = parameters,
                                          n_iter=10, 
                                          scoring='f1', 
                                          n_jobs=-1, 
                                          cv=5, 
                                          verbose=3, 
                                          random_state=420)
    
    random_estimator.fit(X_train, y_train)

    print ('Best Estimator: ', random_estimator.best_estimator_, ' \n')
    
    chosen_model = random_estimator.best_estimator_
    
    return chosen_model

In [10]:
rf2 = tuning(X_train, y_train)
predictions = rf2.predict(X_test)
predictions

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Estimator:  RandomForestClassifier(criterion='entropy', max_depth=7, max_features='log2',
                       min_samples_split=4, random_state=1)

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)